@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} /* globals.css */
/* ใช้ฟอนต์ Noto Sans Thai Looped */

@keyframes rgb-color {
  0% {
    color: red;
  }
  25% {
    color: orange;
  }
  50% {
    color: yellow;
  }
  75% {
    color: green;
  }
  100% {
    color: blue;
  }
}

.rgb-hover {
  color: black;
  font-weight: bold;
  text-decoration: none;
  transition: color 0.3s;
}

.rgb-hover:hover {
  animation: rgb-color 1s infinite linear;
  transform: scale(1.05);
}
