@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* globals.css */

body {
  font-family: 'Noto Sans Thai Looped', 'Biryani', 'Charm', 'Kanit', sans-serif;
}

.font-kanit {
  font-family: 'Kanit', sans-serif;
}

.font-noto-sans-thai-looped {
  font-family: 'Noto Sans Thai Looped', sans-serif;
}

