@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: 'kanit';
  margin: 0;
  box-sizing: border-box;
  font-family: "kanit", sans-serif;
  background-color: white;
}
@layer utilities {
  .shadow-inner-custom {
    box-shadow: 2px -11px 99px -61px rgba(255, 255, 255, 0.61) inset;
    -webkit-box-shadow: 2px -11px 99px -61px rgba(255, 255, 255, 0.61) inset;
    -moz-box-shadow: 2px -11px 99px -61px rgba(255, 255, 255, 0.61) inset;
  }
  .shadow-inner-custom2 {
    box-shadow: 2px -41px 99px -61px rgba(19, 19, 19, 0.61) inset;
    -webkit-box-shadow: 2px -41px 99px -61px rgba(19, 19, 19, 0.61) inset;
    -moz-box-shadow: 2px -41px 99px -61px rgba(19, 19, 19, 0.61) inset;
  }
}
